<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World w/ EJS</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>This is home page</h1>
    <div>
        <img class="image" src="/images/woah.jpg" alt="woah!" />
    </div>
</body>
</html>